<!-- <div class="side-nav-content text-black h-full">
    <ul class="nav-list space-y-2" [ngClass]="{ 'nav-list-open': sidenavStatus }">
      <ng-container *ngFor="let item of list">
        <li class="nav-list-item group" [ngClass]="{ 'has-submenu': item.subItems }">
        
          <div
            class="flex items-center px-4 py-2 hover:bg-pink-400 rounded-lg cursor-pointer"
            (click)="item.subItems ? toggleSubMenu(item) : null"
          >
            <i [class]="item.icon" class="text-lg"></i>
            <span class="ml-4 font-medium">
              <a *ngIf="!item.subItems" [routerLink]="item.route">{{ item.name }}</a>
              <span *ngIf="item.subItems">{{ item.name }}</span>
            </span>
            <i
              *ngIf="item.subItems"
              class="ml-auto fa-solid"
              [class.fa-chevron-down]="!item.isOpen"
              [class.fa-chevron-up]="item.isOpen"
            ></i>
          </div>
  
         
          <ul
            *ngIf="item.subItems && item.isOpen"
            class="ml-6 mt-2 space-y-1 border-l border-gray-700 pl-4"
          >
            <ng-container *ngFor="let subItem of item.subItems">
              <li
                class="submenu-item items-center px-2 py-2 hover:bg-pink-400 rounded-lg cursor-pointer"
                [ngClass]="{ 'has-submenu': subItem.subItems }"
              >
                <div
                  class="flex items-center w-full"
                  (click)="subItem.subItems ? toggleSubMenu(subItem) : null"
                >
                  <i [class]="subItem.icon" class="text-sm"></i>
                  <span class="ml-3">
                    <a *ngIf="!subItem.subItems" [routerLink]="subItem.route">{{ subItem.name }}</a>
                    <span *ngIf="subItem.subItems">{{ subItem.name }}</span>
                  </span>
                  <i
                    *ngIf="subItem.subItems"
                    class="ml-auto fa-solid"
                    [class.fa-chevron-down]="!subItem.isOpen"
                    [class.fa-chevron-up]="subItem.isOpen"
                  ></i>
                </div>
  
               
                <ul
                  *ngIf="subItem.subItems && subItem.isOpen"
                  class="mt-2 space-y-1 border-l border-gray-700 pl-4"
                >
                  <li
                    class="submenu-item flex items-center px-2 py-2 hover:bg-pink-400 rounded-lg cursor-pointer"
                    *ngFor="let nestedItem of subItem.subItems"
                  >
                    <i [class]="nestedItem.icon" class="text-sm"></i>
                    
                    <span class="ml-3">
                      <a [routerLink]="nestedItem.route">{{ nestedItem.name }}</a>
                    </span>
                  </li>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div> -->
  

  <div class="side-nav-content bg-[#FFF3F6] text-black dark:bg-gray-800 dark:text-white h-full transition-colors duration-300">
    <ul class="nav-list space-y-2" [ngClass]="{ 'nav-list-open': sidenavStatus }">
      <ng-container *ngFor="let item of list">
        <li class="nav-list-item group" [ngClass]="{ 'has-submenu': item.subItems }">
     
          <div
            class="flex items-center  text-gray-900 dark:text-white px-4 py-2 hover:bg-pink-400  rounded-lg cursor-pointer"
            (click)="item.subItems ? toggleSubMenu(item) : null"
          >
            <i [class]="item.icon" class="text-lg"></i>
            <span class="ml-4 font-medium">
              <a class="text-gray-900 dark:text-white no-underline"  *ngIf="!item.subItems" [routerLink]="item.route">{{ item.name }}</a>
              <span *ngIf="item.subItems">{{ item.name }}</span>
            </span>
            <i
              *ngIf="item.subItems"
              class="ml-auto fa-solid"
              [class.fa-chevron-down]="!item.isOpen"
              [class.fa-chevron-up]="item.isOpen"
            ></i>
          </div>
  
       
          <ul
            *ngIf="item.subItems && item.isOpen"
            class="ml-6 mt-2 space-y-1 border-l border-gray-300 dark:border-gray-600 pl-4"
          >
            <ng-container *ngFor="let subItem of item.subItems">
              <li
                class="submenu-item text-gray-900 dark:text-white  items-center px-2 py-2 hover:bg-pink-400  rounded-lg cursor-pointer"
                [ngClass]="{ 'has-submenu': subItem.subItems }"
              >
                <div
                  class="flex items-center w-full"
                  (click)="subItem.subItems ? toggleSubMenu(subItem) : null"
                >
                  <i [class]="subItem.icon" class="text-sm"></i>
                  <span class="ml-3">
                    <a  class="text-gray-900 dark:text-white no-underline"  *ngIf="!subItem.subItems" [routerLink]="subItem.route">{{ subItem.name }}</a>
                    <span *ngIf="subItem.subItems">{{ subItem.name }}</span>
                  </span>
                  <i
                    *ngIf="subItem.subItems"
                    class="ml-auto fa-solid"
                    [class.fa-chevron-down]="!subItem.isOpen"
                    [class.fa-chevron-up]="subItem.isOpen"
                  ></i>
                </div>
  
                
                <ul
                  *ngIf="subItem.subItems && subItem.isOpen"
                  class="mt-2 space-y-1 border-l border-gray-300 dark:border-gray-600 pl-4"
                >
                  <li
                    class="submenu-item  text-gray-900 dark:text-white items-center px-2 py-2 hover:bg-pink-400  rounded-lg cursor-pointer"
                    *ngFor="let nestedItem of subItem.subItems"
                  >
                    <i [class]="nestedItem.icon" class="text-sm"></i>
                    <span class="ml-3">
                      <a class="text-gray-900 dark:text-white no-underline"  [routerLink]="nestedItem.route">{{ nestedItem.name }}</a>
                    </span>
                  </li>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
  