/* 
.dropdown-container {
    position: relative;
    width: 100%;
  }
  
 
  .form-control {
    padding-right: 40px; 
  }
  
   .dropdown-icon {
    position: absolute;
    right: 10px; 
    top: 50%;  
    transform: translateY(-50%);
    pointer-events: none; 
  }
  
    .form-control:focus {
    border-color: #80bdff;  
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .25);
  }
  

  .custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
  }
  
  .custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */