<div class="container-fluid   d-flex  ">
    <div class="col-md-1">
    <!-- <app-logo></app-logo> -->
     <app-applogo></app-applogo>
    </div>
    <div class="col-md-11 pt-4">
      <h2
        class="font-weight-bold"
        style="font-size: 1.5rem; margin-top: 5px"
        class="text-dark"
      >
        Demo-Project
      </h2>
      <p
        class="font-weight-bold"
        style="font-size: 1.5rem; margin-top: 5px"
        class="text-dark"
      >
        Lorem ipsum dolor
      </p>
    </div>
  </div>
  